/* @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@200;400&display=swap"); */

:root {
  /* --main-bg-color: #5cad3c; */
  /* --main-bg-color: #C3E8CB; */
  --main-bg-color: #102a43;
  /* --main-bg-color: #1F242F;  */
  /* --main-bg-color: #d3e9cb; */
  /* --main-bg-color: rgb(180, 214, 171); */
  /* --main-lb-color: #faeda1fa; */
  --main-lb-color: #ffc600;
  --main-a-color: black;
  --main-menu-hover: rgb(238, 252, 180);
  --main-option-bg-hover: hsla(103, 87%, 75%, 0.726);
  --main-option-color-hover: rgb(73, 48, 10);
  --main-temps-color: #50fa7b;
  --main-date-color: #12d0e9;
  --main-nav-li-color: rgb(237, 240, 226);
  --main-nav-a-color: rgb(230, 274, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  font-size: 16px;
}

a {
  text-decoration: none;
  /* color: var(--main-a-color); */
}

body {
  font-family: Entypo;
  /* font-family: 'Kalam', sans-serif; */
  color: #444;
  border-color: #dbe4bc;
  /* background: linear-gradient(90deg, rgb(180, 214, 171) 0%, rgb(119, 199, 143) 60%, rgb(180, 214, 171) 100%); */
  /* background: linear-gradient(90deg, rgb(11, 10, 20) 0%, rgb(151, 194, 168) 35%, rgb(11, 224, 111) 100%); */
  /* background: linear-gradient(70deg, rgb(114, 121, 131) 0%, rgb(14, 217, 231) 35%, rgba(12, 38, 66, 0.972) 100%); */
  background-color: var(--main-bg-color);
}

li {
  font-weight: 400;
}

ul li:hover {
  background-color: #e10c73;
  border-radius: 4px;
  cursor: pointer;
  user-select: none;
}

h1 {
  background-color: var(--main-h1-bg-color);
}

img {
  padding: 0;
  margin: 0;
}

div.supprimer:hover {
  background-color:#ca2b0f;
  cursor: pointer;
}

label {
  font-family: "Arvo";
  /* text-transform: uppercase; */
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  /* font-style: oblique; */
  font-weight: 600;
  user-select: none;

  /* font-weight: bold; */

  margin-left: 10%;
  vertical-align: middle;
  display: inline-block;

  text-align: center;
}

label > span {
  color: rgb(18, 19, 34);
  font-size: 1rem;
  font-variant: small-caps;
}

nav {
  font-family: arial, "sans serif";
  font-size: 1.2rem;
  /* background-color: var(--main-bg-color); */
  padding: 0px 0px;
  text-align: center;
  position: absolute;
  width: 100%;
  position: fixed;
  z-index: 1;
}

nav a {
  /* color: var(--main-nav-a-color); */
  color: #fdd90e;
}

option:nth-child(odd) {
  background-color: #efefef;
}

option:hover {
  background: var(--main-option-bg-hover);
  color: var(--main-option-color-hover);
}

textarea,
input,
select {
  font-family: "Contrail One";
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  outline: none;
  box-shadow: none;
  width: 80%;
  margin-left: 10%;
  padding: 5px;
  font-size: 1.2rem;
  text-align: left;
}

textarea,
input,
select {
  font-family: "Poppins", sans-serif;
  border-radius: 0 10px 10px 10px;
}

textarea + select {
  border-radius: 10px;
}

select optgroup {
  background: #e2d37a;
  /* text-align: center; */
}

input:-moz-placeholder,
input:focus {
  box-shadow: none !important;
}

textarea:focus,
input:focus {
  /* border-color: #51aaFF; */
  border-color: #5d51ff;
  border-width: 1px;
}

fieldset {
  /* font-family: cursive; */
  font-size: 1rem;
  position: relative;
  padding: 15px 0;
  border: 0;
}

legend {
  text-decoration: none;
}

#containerTableau {
  display: flex;
  justify-content: center;
  align-items: center;  
  width: 100%;
  height: 100%;
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}

#temps {
  color: var(--main-temps-color);
  font-weight: 800;
}

#laDate {
  color: var(--main-date-color);
  font-weight: 800;
}

.centerlist {
  margin-top: 10rem;
}

.modalhelp-container {
  visibility: hidden;
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  transition: visibility 0.4s;
}

.modalhelp-container.active {
  visibility: visible;
  z-index: 3000;
  transition: visibility 0s;
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  /* background-color: rgba(3, 2, 2, 0.9); */
  background: #333333d3;
  transition: opacity 0.4s 0.2s ease-out;
}

.modalhelp-container.active .overlay {
  opacity: 1;
  transition: opacity 0.4s ease-out;
}

.modalhelp {
  opacity: 0;
  /* max-width: 800px; */
  /* min-width: 300px; */
  padding: 30px;
  background-color: #fff;
  border-radius: 5px;
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 40px));
  transition: opacity 0.4s ease-out, transform 0.4s ease-out;
}

.modalhelp-container.active .modalhelp {
  opacity: 1;
  transform: translate(-50%, -50%);
  transition: opacity 0.4s 0.2s ease-out, transform 0.4s 0.2s ease-out;
}

.close-modalhelp {
  padding: 8px 10px;
  border: none;
  border-radius: 5px;
  font-size: 16px;
  position: absolute;
  top: 10px;
  right: 10px;
  cursor: pointer;
  background: #ff365e;
  color: #fff;
}

.modalhelp h1 {
  margin-bottom: 10px;
  font-family: sans-serif;
  font-weight: 500;
}

.modalhelp p {
  line-height: 1.4;
  margin-bottom: 16px;
}

.alert {
  border: 2px solid #ca2b0f;
}
.nav .menu {
  font-family: Arvo;
  color: beige;

  /* background-color:#437cf7;  */
  background-color: #c50873;
  /* background-color: rgb(134, 115, 153);  */
  /* background-color: rgb(15, 2, 27); */
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  list-style: none;
}

.menu0 {
  display: flex;
  flex-direction: row;
  user-select: none;
}

ul.menu0 li {
  list-style: none;
  margin-left: 0.5em;
}

.menu2 {
  background-color: #c50873;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  margin-right: 1em;
}

.menu2 li {
  margin-left: 0.5em;
}

.menu2 li i:hover {
  color: rgba(17, 214, 83, 0.938);
}
.container-1 {
  margin-left: 10%;
  display: flex;
  flex-direction: row;
  justify-content: 0;
}

.container-1 .lbl-chambre {
  margin-left: 0;
  border-radius: 10px 0 0 10px;
}

.container-1 .lbl-side {
  margin-left: 0;
  border-radius: 10px 0 0 10px;
}

.container-1 .lbl-entry {
  margin-left: 0;
  border-radius: 10px 0 0 10px;
}

.container-1 .input-chambre {
  margin-left: 0;
  border-radius: 0 10px 10px 0;
  padding: 1px 17px 8px 17px;
}

.container-1 .input-side {
  margin-left: 0;
  border-radius: 0 10px 10px 0;
  /* padding: 1px 17px 8px 17px; */
  width: 6em;
}

.container-1 .input-entry {
  margin-left: 0;
  border-radius: 0 10px 10px 0;
  /* padding: 1px 17px 3px 17px; */
  width: 90%;
}

.container-0 {
  display: flex;
  flex-direction: row;
  justify-content: left;
}

.has-children {
  /*1*/
  position: relative;
}

.has-children:hover > .sous-menu {
  /*2*/
  display: flex;
}

.sous-menu {
  /*3*/
  list-style: none;
  display: none;
  flex-flow: column wrap;
  min-width: 100px;
  position: absolute;
  background: rgb(15, 2, 27);
}

.sous-menu li:hover {
  background-color: rgba(17, 214, 83, 0.938);
}

.sous-menu a {
  /*4*/
  text-align: left;
  color: white;
}

.sous-menu .sous-menu {
  /*5*/
  top: 0px;
  left: 100%;
  background: rgb(15, 2, 27);
}

.head {
  width: 100%;
}

.logo {
  margin: 0px;
  padding: 0px;
}

.majuscule {
  text-transform: capitalize;
}

.dolor {
  padding: 1px 17px 8px 17px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.fonctionnel {
  padding: 1px 17px 8px 17px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.trophique {
  padding: 1px 17px 8px 17px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.articulaire {
  padding: 1px 17px 8px 17px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.musculaire {
  padding: 1px 17px 8px 17px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.donnees {
  padding: 1px 17px 8px 17px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.plus1j {
  margin-left: 10em;
}

.moins1j {
  margin-left: 8em;
}

.plusmoins {
  border-radius: 5px;
  padding: 8px;
  /* margin-right: 3em; */
  background-color: var(--main-lb-color);
  font-weight: bold;
}

.plusmoins:hover {
  cursor: pointer;
  background-color: #cbad1b;
}

.respicogito {
  padding: 1px 17px 8px 17px;
  border-radius: 5px 5px 0 0;
  background-color: var(--main-lb-color);
}

.pe {
  font-size: 2rem;
  color: #50fa7b;
  font-weight: bold;
}

.rubrique {
  /* color: #223083; */
  /* color: rgba(65, 61, 71, 0.75);*/
  color: rgb(240, 215, 71);
  /* background-color: #26640a; */
  background-color: #50f;
  font-family: "Times New Roman", Times, serif;
  font-variant: small-caps;
  /* color:	#D5AD6D; */
  font-family: "Arvo";
  font-weight: 300;
  font-size: 1.6rem;
  /* color: rgb(80, 61, 13); */
  font-weight: bold;
  letter-spacing: 0.07em;
  user-select: none;
  /*if no support for background-clip*/

  /* background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(213,173,109,1) 0%, rgba(213,173,109,1) 26%, rgba(226,186,120,1) 35%, rgba(163,126,67,1) 45%, rgba(145,112,59,1) 61%, rgba(213,173,109,1) 100%); */

  /* background: -webkit-linear-gradient(transparent, transparent),
             -webkit-linear-gradient(top, rgba(109, 113, 140, 1) 0%, rgba(109,123,109,1) 26%, rgb(120, 24, 23) 35%, rgb(117, 69, 11) 45%, rgb(32, 61, 27) 61%, rgba(16, 53, 9, 0.52) 100%); */

  padding: 0.9rem;
  border-radius: 50%/30%;
  box-shadow: 2px 2px 0px 0px rgba(20, 19, 19, 0.2);
}

.modal {
  background-color: rgba(3, 2, 2, 0.9);
  padding: 2 rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2000;
  display: flex;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.modal2 {
  position: relative;
  background-color: rgb(30, 26, 26);
  padding: 6 rem;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  z-index: 2000;
  visibility: hidden;
  opacity: 0;
  transition: 0.2s;
}

.modal.show {
  visibility: visible;
  opacity: 1;
}
.modal2.show {
  visibility: visible;
  opacity: 1;
}





#modal-content {
  background-color: rgb(199, 218, 221);
  max-width: 90vw;
  margin: auto;
  position: relative;
}

#modal-close {
  position: absolute;
  font-weight: 700;
  top: 0px;
  right: 0px;
  color: lavenderblush;
  background-color: #ff5100;
  padding: 10px;
  cursor: pointer;
}

#modal-header {
  background-color: #40a019;
  color: lavenderblush;
  text-align: center;
  font-family: Arvo;
  padding: 10px;
  border-bottom: 2px, solid, #ddd;
}

.modal-body {
  padding: 10px;
  max-height: 80vh;
  background-color: rgb(250, 255, 213);
}

#modal-footer {
  padding: 20px;
  border-top: 2px, solid, red;
  display: flex;
  align-items: space-between;
}

.btn {
  padding: 10px;
  background-color: darkcyan;
  border-radius: 5px;
  color: white;
  text-decoration: none;
}

.btn:hover {
  padding: 12px;
  font-weight: bold;
}

.modal-btns {
  display: flex;
  justify-content: space-evenly;
}

.btn-close {
  background-color: #ff5100;
}

.warning {
  background-color: #f3de1e;
  color: #060218;
  margin-top: 5px;
}

.lp {
  color: #9dff7f;
  margin-top: 1.5em;
}

.lp li span {
  background-color: rgb(55, 91, 209);
}
td {
  padding: 0.2rem 0.2rem;
}

tr.fonce td {
  background-color: #ccff99;
  color: black;
}
tr.claire td {
  background-color: #33cc66;
  color: black;
}

.itemTab {
  background-color: #33cc33;
  font-style: italic;
}

.itemTab:hover {
  cursor: pointer;
  font-weight: bold;
}

div.warning {
  text-align: center;
  background-color: #888;
  color: #eedf14;
}

div#container-patients {
  border: 2px solid red;
  margin-bottom: 1em;
  width: 70%;
  margin: auto;
}

div.container-patient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-top: 30px;
}

label.suivi{
  display: block;
  font-family: "Arvo";
  /* text-transform: uppercase; */
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  /* font-style: oblique; */
  font-weight: 600;
  user-select: none;
  /* font-weight: bold; */
  padding-left: 1rem;
  text-align: left;
  background-color: var(--main-lb-color);
}

textarea.textsuivi {
  height: 100px;
  border-radius: 2px;
}

textarea.textsuivi:focus {
  /* border-color: #51aaFF; */
  border-color: #5d51ff;
  border-width: 1px;
}
