:root {
  /* --main-bg-color: #5cad3c; */
  /* --main-bg-color: #C3E8CB; */
  --main-bg-color: #102a43;
  /* --main-bg-color: #1F242F;  */
  /* --main-bg-color: #d3e9cb; */
  /* --main-bg-color: rgb(180, 214, 171); */
  /* --main-lb-color: #faeda1fa; */
  --main-lb-color: #ffc600;
  --main-a-color: black;
  --main-menu-hover: rgb(238, 252, 180);
  --main-option-bg-hover: hsla(103, 87%, 75%, 0.726);
  --main-option-color-hover: rgb(73, 48, 10);
  --main-temps-color: #50fa7b;
  --main-date-color: #12d0e9;
  --main-nav-li-color: rgb(237, 240, 226);
  --main-nav-a-color: rgb(230, 274, 240);
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  /* font-family: Arial, Helvetica, sans-serif; */
}

html {
  font-size: 16px;
}

body {
  font-family: Entypo;
  color: #444;
  border-color: #dbe4bc;
  background-color: var(--main-bg-color);
}

a {
  text-decoration: none;
  /* color: var(--main-a-color); */
}

label {
  display: block;
  font-family: "Arvo";
  /* text-transform: uppercase; */
  font-size: 1.4rem;
  letter-spacing: 0.05em;
  /* font-style: oblique; */
  font-weight: 600;
  user-select: none;
  /* font-weight: bold; */
  padding-left: 1rem;
  text-align: left;
  background-color: var(--main-lb-color);
}

label > span {
  color: rgb(18, 19, 34);
  font-size: 1rem;
  font-variant: small-caps;
}

div#container-patients {
  border: 2px solid red;
  margin-bottom: 1em;
  width: 70%;
  margin: auto;
}

/* display: flex;
flex-direction: row;
justify-content: center;
align-items: center; */

div.container-patient {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: space-between;
  margin-top: 30px;
}

/* div.container-patient textarea {
  width: 100%;
  margin-top: 1;
} */

textarea {
  height: 100px;
}

textarea:focus {
  /* border-color: #51aaFF; */
  border-color: #5d51ff;
  border-width: 1px;
}
